@font-face {
  font-family: 'Inter';
  src: url(./fonts/Inter-VariableFont_slntwght.ttf);
}

$typography-font-family: 'Inter', sans-serif;


@font-face {
  font-family: "Nico Moji";
  src: url(./fonts/NicoMoji-Regular.ttf);
}

.nico-moji {
  font-family: "Nico Moji";
}


@font-face {
  font-family: 'Jacquarda Bastarda';
  src: url(./fonts/JacquardaBastarda9Charted-Regular.ttf);
}

.jacquarda-bastarda {
  font-family: 'Jacquarda Bastarda';
}

@font-face {
  font-family: "Jacquard24";
  src: url(./fonts/Jacquard24-Regular.ttf);
}

.jacquard24 {
  font-family: "Jacquard24";
}